body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #353336;
  }

  .text {
    font-size: large;
    color: azure;
  }

  .histori {
    width: 1920px;
    justify-content: center;
  }

  .card {
    justify-content: center;
  }

  table {
    margin: 0;
    padding-left: 120px;
    padding-right: 120px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 36px;
    padding-right: 0;
    background: #bebebf;
  }

img {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  margin-right: 0;
  border: 3px solid black;
}

.conteiner {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1;
    grid-template-rows: 7;
    background: linear-gradient(to right, rgb(194, 193, 195),rgb(36, 36, 36));
    width: 512px;
    height: 612px;
    margin:10px auto 5px;
    border-radius: 12px;
    border: 6px solid rgb(16, 8, 21);
}

.conteiner1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 12px;
  background: linear-gradient(to right, rgb(194, 193, 195),rgb(36, 36, 36));
  width: 512px;
  height: 612px;
  margin: auto;
  border-radius: 12px;
  border: 6px solid rgb(16, 8, 21);
  word-break:break-all;

}

.item {
    margin-top: 40px;
    margin-bottom: auto;
    width: 260px;
    height: 20px;
    border-radius: 6px;
    border: 2px solid rgb(0, 0, 0);
    background-color: #d6d6d6;
}

.card {
  background: #bebebf;
  width: 250px;
  height: auto;
}

button {
    width: 200px;
    height: 40px;
    color: #ffffff;
    background: linear-gradient(to right, rgb(33, 33, 34), rgb(233, 233, 233));
}

button:hover {
  transform: scale(1.2);
  border: 3px solid black;
}

@keyframes spinner-border {
  100% {
    transform: rotate(360deg);
  }
}

.submit-spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.125em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}

.submit-spinner_hide {
  display: none;
}